Host bastion1.pmtpa.wmflabs
Hostname bastion.wmflabs.org
ProxyCommand none

Host bastion1.eqiad.wmflabs
Hostname bastion1.wmflabs.org
ProxyCommand none

Host *.pmtpa.wmflabs
ProxyCommand ssh -a -W %h:%p bastion1.pmtpa.wmflabs

Host *.eqiad.wmflabs
ProxyCommand ssh -a -W %h:%p bastion1.eqiad.wmflabs 

Host *.wmflabs
User legoktm

Host *.wmflabs.org
User legoktm
IdentityFile ~/.ssh/id_rsa

Host gerrit.wikimedia.org
User legoktm
IdentityFile ~/.ssh/id_rsa

Host *.uncy.org
User legoktm

Host bast1001.wikimedia.org
User legoktm
IdentityFile ~/.ssh/id_wmf
ProxyCommand none
ControlMaster auto

Host *.eqiad.wmnet
User legoktm
ProxyCommand ssh -a -W %h:%p bast1001.wikimedia.org

Host *.wikimedia.org
IdentityFile ~/.ssh/id_wmf
User legoktm

Host do.server
User legoktm
